.app-header {
  background-color: #222;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

.username {
  float: right;
}

.change-username-button {
  margin-left: 20px;
}
