.main-content {
  width: 100%;
  background-color: lightsalmon;
}

.title {
  background-color: #222;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 35px;
}

.title h1 {
  margin: 0;
  font-size: 2em;
}

.messages {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}

.sendMessages {
    position: fixed;
    bottom: 0px;
    height: 35px;
}

.username {
  float: right;
}

.change-username-button {
  margin-left: 5%;
}
